#root,
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.landing {
  position: relative;
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6 {
  width: 100vw;
  height: 100vh;
}

.section1 {
  position: relative;
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  /* background-color: rgba(0, 255, 255, 0.334); */
  display: flex;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);

}

h1 {
  padding: 32px;
  margin: 0;
  padding-bottom: 16px;
  font-size: clamp(4rem, 10vw, 6rem);
}

.hero p {
  margin: 0;
  padding: 0 32px;
}

h4 {
  font-size: 3rem;
  padding: 32px;
  margin: 0;
}

p {
  font-size: clamp(1rem, 5vw, 2rem);
  padding: 32px;
  margin: 0;
}

span {
  font-weight: 100;
  display: none;
}

.section2 {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 90vh;
}

.section2 h4 {
  padding: 16px;
}

.links {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
  gap: 16px;
  background-color: white;
  z-index: 10;
  overflow: hidden;
}

.landing a {
  text-decoration: none;
  color: black;
}

.section2 h4 a:hover {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links a {
  background-color: white;
  padding: 8px 16px;
  font-size: 1.5rem;
}

.links a:hover {
  font-weight: bolder;
  padding-left: 0.55rem;
}


.section3 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  overflow: hidden;
}

.section3 h4 {
  font-weight: 400;
}

.section4 {
  height: 300vh;
  position: relative;
}

.section4 h1 {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
}

/* .section4 h1 {
  text-wrap: nowrap;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
} */

.section4 h4 {
  font-size: 2rem;
  text-wrap: nowrap;
  padding: 32px 0px;
  margin: 0;
  width: fit-content;
  width: -moz-fit-content;
  color: black;
  background-color: #42d39270;
  animation: side-scroll 8s linear infinite;
}

.marquee {
  position: absolute;
  bottom: 0;
  left: 0;

  overflow: hidden;
  height: 10vh;
  width: 100vw;
  z-index: 9;
  display: flex;
  align-items: center;
}

.section5 {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section6 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section6 p {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  height: fit-content;
}

.section6 h4 {
  margin: 0;
  padding: 0;
}


.section6 a:hover {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}










@keyframes side-scroll {
  to {
    transform: translate(-25%);
  }
}

@media (max-width: 450px) {
  .links {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 16px;
    background-color: white;
    z-index: 10;
  }

  span {
    display: inline;
  }

  .links a {
    background-color: white;
    padding: 4px 8px;
    font-size: 1.5rem;
  }

  .section2 h4 a {
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .marquee {
    display: none;
  }
}